#
# Fill in all values below using the example as a template.
# Passwords with special characters must be escaped and quoted.
#
# Example:
#     TEST_USERNAME=username
#     TEST_PASSWORD=\"\!password\"
#     TEST_IP=http://1.2.3.4
#     TEST_POOL=A|B
#     TEST_FSTYPE=ext3|ext4|xfs
#
TEST_USERNAME=
TEST_PASSWORD=
TEST_IP=
TEST_POOL=
TEST_FSTYPE=
