# go dependencies
/vendor

# v1.x files
_legacy

# binaries
seagate-exos-x-csi-node
seagate-exos-x-csi-controller

# generated documentation
/helm/*/README.md

# vs code
.vscode/

node_modules/

# test files
test/secrets.yml
test/volume.yml
test/sanity.log
test/.env

# OpenShift Registry data
.redhat_*
*secrets*

