# go dependencies
/vendor

# test cluster config
test/.env

# v1.x files
_legacy

# binaries
seagate-exos-x-csi-node
seagate-exos-x-csi-controller

# generated documentation
/helm/*/README.md

# vs code
.vscode/