apiVersion: v2
name: seagate-exos-x-csi
version: 1.0.0
appVersion: v2
description: A dynamic persistent volume (PV) provisioner for Seagate Exos X storage systems.
type: application
home: https://github.com/Seagate/seagate-exos-x-csi
sources:
  - https://github.com/Seagate/seagate-exos-x-csi/tree/main/helm/csi-charts
keywords:
  - storage
  - iscsi
  - plugin
  - csi
maintainers:
  - name: Seagate
    url: https://github.com/Seagate
  - name: Joe Skazinski
    email: joseph.skazinski@seagate.com
annotations:
  artifacthub.io/images: |
    - name: csi-driver
      image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
